{%load static%}
{% include 'base.html' %}
{% include 'navigation.html' %}
{% block content %}

{% comment %}
 {% ifequal error "no" %}
<script>
    alert('Logged In Sucessfully');
    window.location = "{% url 'dashboard' %}";
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Invalid Login. Try Again');
    window.location = "{% url 'home' %}";
</script>
{% endifequal %} {% endcomment %}

<div class="container">
    <h2 class="text-center">Admin Login</h2>
    <form method="POST">
        {% csrf_token %}
        <label>Admin Name</label>
        <input type="text" class="form-control" name="uname">
        <label>Password</label>
        <input type="password" class="form-control" name="pwd">

        <input type="submit" value="Login" class="form-control btn btn-primary">
    </form>

</div>

{% endblock content %}
{% include 'footer.html' %}