{% include 'base.html' %}
{% include 'doctor_nav.html' %}

{% block content %}
{% include 'base.html' %}

<div>

    <h2 class="text-center">Patient Details </h2>
    <table id="example" class="table table-hover">
        <thead>
            <tr>
                <th>PatientId</th>
                <th>name</th>
                <th>email</th>
                <th>address</th>
                <th>contact</th>
                <th>dob</th>
                <th>gender</th>
                <th>blood</th>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            {% comment %} {% for i in patient_obj %} {% endcomment %}
            <tr>
                <td>{{object.id}}</td>
                <td>{{object.name}}</td>
                <td>{{object.email}}</td>
                <td>{{object.address}}</td>
                <td>{{object.contact}}</td>
                <td>{{object.dob}}</td>
                <td>{{object.gender}}</td>
                <td>{{object.blood}}</td>
                {% comment %} <td><a href="{% url'prescription:update' %}" onclick="return confirm('Confirm Changes')" class="btn btn-info">Update</a></td> {% endcomment %}
                
            </tr>
            {% comment %} {% endfor %} {% endcomment %}
            
        </tbody>


    </table>
        
</div>



{% endblock content %}
{% include 'footer.html' %}